<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
  </head>
  <body ng-controller="mainCtrl">

    <input type="text" placeholder="Add a new quote!" ng-model="newQuoteText">
    <input type="text" placeholder="Add the author!" ng-model="newQuoteAuthor">
    <button ng-click="addQuote()">Add Quote</button>
    <button ng-click="clearCookies()">Clear Cookies</button>

    <div>
      <input type="text" placeholder="Filter by author" ng-model="filterQuotes.author">
      <input type="text" placeholder="Filter by quote" ng-model="filterQuotes.text">
    </div>

    <div ng-repeat="quote in quotes | filter: filterQuotes">
      <span class="author"> {{quote.author}}:</span>
      <span class="text">{{ quote.text }}</span> <button ng-click="deleteQuote(quote.text)">Delete</button>
    </div>

    <!-- {{ myCookieVal }}
    <input type="text" ng-model="cookieVal">
    <button ng-click="setCookie(cookieVal)">Set Cookie</button> -->


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js"></script>
    <script src="./js/app.js" charset="utf-8"></script>
    <script src="./js/mainCtrl.js" charset="utf-8"></script>
    <script src="./js/dataService.js" charset="utf-8"></script>
  </body>
</html>
